<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="14727831-99b9-4d88-9ef4-2c0f259a0589" Publisher="CN=m0rg0_000" Version="1.0.0.0" />
  <Properties>
    <DisplayName>RybinskTaxi</DisplayName>
    <PublisherDisplayName>m0rg0_000</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RybinskTaxi.App">
      <VisualElements DisplayName="RybinskTaxi" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="RybinskTaxi" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>